<li>
	{{name}}

	<button class="change-hunger" data-id="{{id}}" data-newhunger="{{eat}}">
		{{#if sleep}}FOOD TIME!{{else}}YUMMMM!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
